@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div>
    <p>
        <a asp-page="CreateNewWorkItem">Create New Work Item</a>
    </p>
</div>

<div>
    <h1>Queue</h1>
    <div>
@foreach (var item in Model.DashBoardItems) 
{
        <div>
            @Html.DisplayFor(modelItem => item.Number)
        </div>
}
    </div>
</div>

